body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3c2398;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header .logo {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

nav {
    background-color: #a48d8d;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 5px;
}

nav a:hover {
    background-color: #272a1c5f;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #9f6969;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #40a143;
    color: white;
}

footer {
    background-color: #3e9b41;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #569a58;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #51c657;
}
