
.home-text-bold * {
  font-weight: 700 !important;   /* makes everything bold */
}

:root {
  /* HOME PAGE COLORS */
  --home-bg: #5082cc;
  --home-text: #161515;

  /* PACKAGES PAGE COLORS */
  --packages-bg: #24eb31;
  --packages-text: #1a1818;

  /* CONTACT PAGE COLORS */
  --contact-bg: #812ee7;
  --contact-text: #0b0114;
}

.travel-img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}


.travel-card {
  height: 430px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
}

.travel-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* keep title upto 2 Lines */
.travel-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Push button down */
.travel-btn {
  margin-top: auto;
}

/* Hover Effect */
.travel-card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.home-benefit-card {
  min-height: 240px;
  background: rgb(119, 59, 59);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(24, 6, 6, 0.08);
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #28a745;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.page-bg {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px; /* so header doesn't overlap */
}

.page-bg {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1593203953660-c830e9c2698d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGFwcCUyMHBsYWluJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
}
/* Contact Page Typography */
.contact-text-bold * {
  font-weight: 600 !important;
  color: #000; /* or white if you want */
}

.contact-heading {
  font-size: 2.4rem;
  font-weight: 700;
}

.contact-description {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.contact-info {
  font-size: 1.2rem;
  margin: 10px 0;
}



/* APPLY TEXT COLORS BASED ON PAGE */
.home-bg,
.home-bg * {
  color: var(--home-text) !important;
}

.packages-bg,
.packages-bg * {
  color: var(--packages-text) !important;
}

.contact-bg,
.contact-bg * {
  color: var(--contact-text) !important;
}
