<!-- In this file we define the HTML structure for the home page, 
     which will be used as an EJS template -->

<h1>Welcome to the home page, <%= name %>!</h1>

<!-- The expression <%= name %> dynamically inserts the value 
     of the variable 'name' passed from the server. -->

<p>This is the home page of our application.</p>

<p>Current Year: <%= year %></p>

<!-- The expression <%= year %> dynamically displays the 'year' 
     value passed from the server. -->


