body {
  background: #f4f7fb;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.product-card {
  background: rgb(131, 182, 248);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(214, 153, 153, 0.1);
  padding: 15px;
  width: 250px;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card input {
  width: 80%;
  padding: 5px;
  margin: 8px 0;
  border: 1px solid #e95252;
  border-radius: 4px;
}

.product-card button {
  padding: 8px 12px;
  background-color: #ac3dec;
  color: rgb(248, 243, 243);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #1b1002;
}
