body {
  background-color: #cfd2d4 !important;
  color: #222 !important;
}

.card {
  background-color: #fbf9fc !important;
  color: #11ecc8 !important;
}

h2 {
  color: #020f1b !important;
  font-weight: bold;
}
